## HW4 Exploratory Data Analysis

It's time to tie together everything we've learned so far into a more formal exploratory data anlysis. For this homework assignment, we'll use the familiar adult income dataset again. 

Each step should be supported with statistical and visaul analysis, as we walked through in each lab.

In [8]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
from scipy.stats import norm 

df = pd.read_csv("../Datasets/adult.data", 
                 header=None,
                names=["age", "workclass", "fnlwgt", "education", "education_num", \
             "marital-status", "occupation", "relationship", "race", "sex", \
             "capital_gain", "capital_loss", "hours_per_week", "native_country", "income"])
df.head()

,age,workclass,fnlwgt,education,education_num,marital-status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

## Step 1: Describe the dataset
Let us know where this dataset came from, what the columns contain, the dimensions, and any other important information about this dataset.

## Step 2: Data Munging
- Clean up the column names as needed
- Deal with any missing values
- Encode categorical columns
- Bin the income column

## Step 3: Scale as Needed
- Scale/standardize columns as needed
- Tell us why you did/did not choose a particular method for your dataset
- Support your decision with visualizations

## Step 4: Examine Correlation
- Plot the correlation matrix
- Pull out two variables that show the highest correlation with the income column and calculate their Person Correlatoin Coefficient

## Step 5: Test your predictors for normality
- For each of your top 2 columns, test the normality of the distribution
- Visualize and report test statistics

## Step 6: Test for Outliers
- Find and report the number of outliers found
- Visualize and describe any patterns or lack therof
- Remove and re-examine the effect on the normality of your data

## Step 7: For two points, let us know what questions you have