# Reading in Data in Pandas
In this lab, we'll walk through some basic data exploration techniques in pandas, starting with reading data and working our way through manipulating data frames.

### Reading in data from a CSV or TSV file
We can read in data from any file that is comma or tab separated by feeding pandas read_csv() function and the following arguments: 

- path = file path to tsv or csv file, we specify this first 
- sep = "\t" for tab separated files, or "," for comma separated files
- header = if the first line of the file has a header we want to keep, we would set header = 0

In [6]:
# first we need to import the pandas package
import pandas as pd

# save the file path as a variable
videoFile_path = "./Video_Store.csv"

# read in the csv as a pandas dataframe
video_df = pd.read_csv(videoFile_path, sep=",", header=0)
video_df.head()

   Cust ID Gender  Income  Age  Rentals  Avg Per Visit Incidentals   Genre
0        1      M   45000   25       27            2.5         Yes  Action
1        2      F   54000   33       12            3.4          No   Drama
2        3      F   32000   20       42            1.6          No  Comedy
3        4      F   59000   70       16            4.2         Yes   Drama
4        5      M   37000   35       25            3.2         Yes  Action

### Read from Excel File
Before you can use this function, you'll need to run the following installation on your command line: 

    pip install --user xlrd

We can also use pandas to read in files from Excel with the read_excel() function, and arugments simlar to read_csv():
- path = file path
- sheet_name = name of sheet to read in if there are multiple sheets
- header = 0 if there are column names

In [ ]:
excel_df = pd.read_excel(videoFile_path, sheet_name=1, header=0)

### Read from URL
We can use pandas to easily read in data from a URL, as long as that data is in a TSV or CSV format. 

Browse to this URL to take a look at the format:
https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

Now that we know what a CSV (comma separated values) file looks like online, we can learn how to read it in with Pandas.

In [1]:
# import the pandas package
import pandas as pd

# save the url as a variable
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data"

# use pandas read_csv() function and feed it a URL
c = pd.read_csv(url)

# add a list of column names, this must be the same length as num columns
c.columns = ["age", "workclass", "fnlwgt", "education", "education_num", \
                    "marital-status", "occupation", "relationship", "race", "sex", \
                    "capital_gain", "capital_loss", "hours_per_week", "native_country", "income"]

# lets take a look at the first 10 lines of our dataframe
c.head(10)

,age,workclass,fnlwgt,education,education_num,marital-status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K